@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Instrument+Serif:ital@0;1&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    font-family: "Outfit", sans-serif;
}
.wrap {
  min-height: 100vh;
  background: #000;
  color: rgba(210, 220, 235, 0.75);
  font-family: "Inter", sans-serif;
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 140px;
  overflow: hidden;
}
.wrap::before {
  content: "";
  position: absolute;
  inset: -40%; /* important for rotation coverage */
  background:
    radial-gradient(
      5000px 600px at 40% 63%,
      rgba(30, 60, 140, 0.55),
      rgba(10, 20, 40, 0.35) 33%,
      rgba(0, 0, 0, 0.95) 89%
    ),
    radial-gradient(
      800px 600px at 30% 20%,
      rgba(60, 80, 160, 0.15),
      transparent 60%
    );
  transform: rotate(-18deg); /* 🔥 HERE IS YOUR TILT */
  transform-origin: center;
  z-index: 0;
}
.divider1{
    display:flex;
    width:100%;
    flex-direction: column;
    align-items: center;
    gap:10px;
    margin-left:30px;
    padding:0px 50px;
    margin-top:100px;
    z-index: 45;
}
.claritytext{
     font-size:10vw;
    font-weight:500;
  font-family: "Outfit", serif;
  z-index: 45;
}
.subtext {
  margin-top: -25px;
   font-size:24px;
    font-weight:400;
   font-family: "Outfit", sans-serif;
    color:rgba(153, 161, 175, 1);
  z-index:45;
}

.gradienttext {
  background: linear-gradient(180deg, #512FEB 23.21%, rgb(0, 0, 0) 90.24%);

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.form {
    width:70%;
  margin-top: 40px;
  padding: 28px;
  border-radius: 14px;
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(18px);
}

.field {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 22px;
}

.field label {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: 400;
}

.field input,
.field textarea,
.field select {
  background: rgba(38, 38, 38, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  padding: 18px 12px;
  color: #e5e7eb;
  font-size: 16px;
  letter-spacing: 1px;
  outline: none;
}
.fieldRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
}


.field input::placeholder,
.field textarea::placeholder,
.field select::placeholder{
  color: #6b7280;
}

.field textarea {
  min-height: 160px;
  resize: none;
}
.field select {
  appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10l5 5 5-5'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 16px;
}


/* Thumbnail */
.thumbnailBox {
  background: rgba(29, 41, 61, 0.5);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
  border: 1.6px solid rgba(255, 255, 255, 0.1)
}

.uploadArea {
  border: 1.5px dashed rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  padding: 36px;
  width:400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: #9ca3af;
  cursor: pointer;
  transition: all 0.25s ease;
}

.uploadArea:hover {
  border-color: rgba(59, 130, 246, 0.6);
  color: #e5e7eb;
}

.uploadArea p {
  font-size: 14px;
}

/* Submit */
.submitWrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.submitWrap button {
  background: rgba(81, 47, 235, 1);
  border: none;
  padding: 14px 22px;
  border-radius: 12px;
  font-weight: 400;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.submitWrap button:hover {
  transform: translateY(-1px);
  box-shadow: 0 10px 30px rgba(99, 102, 241, 0.4);
}

.submitWrap span {
  font-size: 16px;
}


.footer{
   position: relative;
  width: 100%;
  min-height:100vh;
  height: auto;
  overflow: hidden;
  margin-top:80px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* margin-top:-100px; */
  /* justify-content: center; */
}

.footerWrap {
  position: relative;
  width: 100%;
  margin-top:50px;
  background: #000;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}


/* LOGO SCENE */
.footerScene {
  position: absolute;      
  inset: 0;                  
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  z-index: 1;
}

.footerScene img {
  height: max-content;                /* full height */
  /* max-height: 90vh; */
  width: auto;                 /* maintain aspect */
  object-fit: contain;
  opacity: 0.9;                /* tweak if needed */
}
/* MIRROR / GLASS */
/* .mirrorOverlay {
  position: absolute;
  inset: 0;
  z-index: 2;

  background: linear-gradient(
    120deg,
    rgba(255,255,255,0.10),
    rgba(255,255,255,0.02),
    rgba(255,255,255,0.10)
  );

  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
} */


.footerBox {
  position: relative;
  z-index: 3;                  /* 🔥 TOP MOST */
  width: 100%;
  max-width: 1400px;
  margin: auto;
    backdrop-filter: blur(10px);
  border-radius: 28px;
  border: 1px solid rgba(255,255,255,0.07);
  background: radial-gradient(
    circle at center,
    rgba(255,255,255,0.04),
    rgba(0,0,0,0.95)
  );

  padding: 48px 56px;
}

/* TOP */
.top {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}

/* LEFT */
.left {
  max-width: 100%;
}

.logo {
   font-family: "Outfit", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}

.tagline {
   font-family: "Outfit", sans-serif;
  font-size: 14px;
  color:rgba(190, 190, 190, 1);
  font-weight: 400;
  margin-top: 4px;
}

.desc {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.6;
  color: rgba(255,255,255,0.75);
}

.socials {
  display: flex;
  gap: 20px;
  margin-top: 20px;

}

.socials span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: rgba(190, 190, 190, 1);

}

.badge {
  margin-top: 20px;
  width:150px;
}

/* RIGHT */
.right {
  display: flex;
  gap: 80px;
}

.col h4 {
  font-size: 16px;
  margin-bottom: 14px;
  font-weight: 500;
  color: white;
   font-family: "Inter", sans-serif;
}

.col ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

.col ul li {
  color: rgba(255,255,255,0.7);
   font-size: 14px;
  margin-bottom: 10px;
  font-weight: 400;
   font-family: "Inter", sans-serif;
}

.col p {
  color: rgba(255,255,255,0.7);
   font-size: 14px;
  margin-bottom: 10px;
  line-height: 25px;
  font-weight: 400;
   font-family: "Inter", sans-serif;
}

/* DIVIDER */
.divider {
  height: 1px;
  width: 100%;
  background: rgba(255,255,255,0.15);
  margin: 40px 0 24px;
}

/* BOTTOM */
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  color: rgba(255,255,255,0.6);
  font-family: "Outfit", sans-serif;
}

.links {
  display: flex;
  gap: 24px;
}
.col{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}
.footerScene{
  width:100%;
}
.col ul{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  gap:2px;
}
@media screen and (max-width:768px) {
  .claritytext{
    font-size: 60px;

  }
  .subtext{
    font-size:18px;
  }
  .divider1{
    align-items: flex-start;
  }
  .form{
    width:100%;
  }
}
@media screen and (max-width:550px){
  .divider1{
   padding: 0px 13px;
   margin-left: 0px;
  }
  .claritytext{
    font-size: 50px;

  }
  .subtext{
    font-size:15px;
  }
}
@media screen and (max-width:400px){
  .form{
    padding:15px;
  }
  .fieldRow {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
}

/* footer */

@media screen and (max-width:768px) {
  .col{
    white-space: nowrap;
  }
  .bottom{
    flex-direction: column;
    gap:20px;
    text-align: center;
  }
  .footerBox{
     border: 1px solid rgba(255, 255, 255, 0.27);
  }
 
}
@media screen and (max-width:680px){
  .right{
    gap:30px;
  }
  .top{
    flex-direction: column;
  }
}
@media screen and (max-width:420px){
  .footerBox{
    padding:20px 8px;
  }
}