.smallnavbar{
    width:max-content;
    height:auto;
    padding:10px 20px 10px 20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF00;
    /* box-shadow: 0px 0px 10px 1px #00000040; */
    backdrop-filter: blur(5px);
    opacity: 0;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    gap:20px;
    margin-top:30px;
     will-change: transform, opacity;
    position: fixed;
  top: 24px;
  left: 36%;
  /* transform: translateX(-50%); */
  z-index: 999;
    

}
.small{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:20px;
    list-style: none;
}
.getintouch{
    padding:12px 15px;
    background-color: #3225bf;
    outline: none;
    border: none;
    border-radius:12px;
}